
@{
    ViewBag.Title = "Page3";
}

<h2>Page3</h2>


<form action="/App/Form" method="post" id="former">

    <textarea rows="4" cols="70" name="Unsanitized_HTML" id="Unsanitized_HTML">
Enter unsanitized HTML here...</textarea>
    <br />
    <textarea rows="4" cols="70" name="Tags" id="Tags">
Enter tags to filter/retain here...</textarea>
    <br>

    <br />    <input type="submit" value="Submit input" />
</form>
<br>
<br />
