
@{
    ViewBag.Title = "Page2";
}

<h2>Page2</h2>


<form action="/App/Form2" method="post" id="former">

    <textarea rows="4" cols="70" name="Unsanitized_HTML" id="Unsanitized_HTML">
Enter unsanitized HTML here...</textarea>
    <br />
    <br />    <input type="submit" value="Submit input" />
</form>
<br>
<br />
